@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-font: 'Poppins', sans-serif;
$blue:   #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:  #198754;
$teal:  #20c997;
$cyan:  #0dcaf0;

$colorLists: (
  "white":    #fff,
  "gray-100": #f8f9fa,
  "gray-200": #e9ecef,
  "gray-300": #dee2e6,
  "gray-400": #ced4da,
  "gray-500": #adb5bd,
  "gray-600": #6c757d,
  "gray-700": #495057,
  "gray-800": #343a40,
  "gray-900": #212529,
  "black":    #000,
  "blue":   #0d6efd,
  "indigo":  #6610f2,
  "purple":  #6f42c1,
  "pink":    #d63384,
  "red":     #dc3545,
  "orange":  #fd7e14,
  "yellow":  #ffc107,
  "green" :  #198754,
  "teal"  :  #20c997,
  "cyan"  :  #0dcaf0,
  "blue-100": tint-color($blue, 80%),
  "blue-200": tint-color($blue, 60%),
  "blue-300": tint-color($blue, 40%),
  "blue-400": tint-color($blue, 20%),
  "blue-500": #0d6efd,
  "blue-600": shade-color($blue, 20%),
  "blue-700": shade-color($blue, 40%),
  "blue-800": shade-color($blue, 60%),
  "blue-900": shade-color($blue, 80%),
  "indigo-100": tint-color($indigo, 80%),
  "indigo-200": tint-color($indigo, 60%),
  "indigo-300": tint-color($indigo, 40%),
  "indigo-400": tint-color($indigo, 20%),
  "indigo-500": #6610f2,
  "indigo-600": shade-color($indigo, 20%),
  "indigo-700": shade-color($indigo, 40%),
  "indigo-800": shade-color($indigo, 60%),
  "indigo-900": shade-color($indigo, 80%),
  "purple-100": tint-color($purple, 80%),
  "purple-200": tint-color($purple, 60%),
  "purple-300": tint-color($purple, 40%),
  "purple-400": tint-color($purple, 20%),
  "purple-500": #6f42c1,
  "purple-600": shade-color($purple, 20%),
  "purple-700": shade-color($purple, 40%),
  "purple-800": shade-color($purple, 60%),
  "purple-900": shade-color($purple, 80%),
  "pink-100": tint-color($pink, 80%),
  "pink-200": tint-color($pink, 60%),
  "pink-300": tint-color($pink, 40%),
  "pink-400": tint-color($pink, 20%),
  "pink-500": #d63384,
  "pink-600": shade-color($pink, 20%),
  "pink-700": shade-color($pink, 40%),
  "pink-800": shade-color($pink, 60%),
  "pink-900": shade-color($pink, 80%),

  "red-100": tint-color($red, 80%),
  "red-200": tint-color($red, 60%),
  "red-300": tint-color($red, 40%),
  "red-400": tint-color($red, 20%),
  "red-500": #dc3545,
  "red-600": shade-color($red, 20%),
  "red-700": shade-color($red, 40%),
  "red-800": shade-color($red, 60%),
  "red-900": shade-color($red, 80%),

  "orange-100": tint-color($orange, 80%),
  "orange-200": tint-color($orange, 60%),
  "orange-300": tint-color($orange, 40%),
  "orange-400": tint-color($orange, 20%),
  "orange-500": #fd7e14,
  "orange-600": shade-color($orange, 20%),
  "orange-700": shade-color($orange, 40%),
  "orange-800": shade-color($orange, 60%),
  "orange-900": shade-color($orange, 80%),

  "yellow-100": tint-color($yellow, 80%),
  "yellow-200": tint-color($yellow, 60%),
  "yellow-300": tint-color($yellow, 40%),
  "yellow-400": tint-color($yellow, 20%),
  "yellow-500": #ffc107,
  "yellow-600": shade-color($yellow, 20%),
  "yellow-700": shade-color($yellow, 40%),
  "yellow-800": shade-color($yellow, 60%),
  "yellow-900": shade-color($yellow, 80%),

  "green-100": tint-color($green, 80%),
  "green-200": tint-color($green, 60%),
  "green-300": tint-color($green, 40%),
  "green-400": tint-color($green, 20%),
  "green-500": #198754,
  "green-600": shade-color($green, 20%),
  "green-700": shade-color($green, 40%),
  "green-800": shade-color($green, 60%),
  "green-900": shade-color($green, 80%),

  "teal-100": tint-color($teal, 80%),
  "teal-200": tint-color($teal, 60%),
  "teal-300": tint-color($teal, 40%),
  "teal-400": tint-color($teal, 20%),
  "teal-500": #20c997,
  "teal-600": shade-color($teal, 20%),
  "teal-700": shade-color($teal, 40%),
  "teal-800": shade-color($teal, 60%),
  "teal-900": shade-color($teal, 80%),

  "cyan-100": tint-color($cyan, 80%),
  "cyan-200": tint-color($cyan, 60%),
  "cyan-300": tint-color($cyan, 40%),
  "cyan-400": tint-color($cyan, 20%),
  "cyan-500": #0dcaf0,
  "cyan-600": shade-color($cyan, 20%),
  "cyan-700": shade-color($cyan, 40%),
  "cyan-800": shade-color($cyan, 60%),
  "cyan-900": shade-color($cyan, 80%),
);

$positionLists: (
  "absolute": absolute,
  "fixed": fixed,
  "relative": relative
);
$alignLists: (
  "left": left,
  "right": right,
  "center": center
);
$borderWidthLists: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

@mixin fullBd-r($radius) {
  border-radius: $radius;
};
@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}
@mixin maxheight-width($height, $width) {
  max-height: $height;
  max-width: $width;
}


@each $name, $color in $colorLists {
  .bg-c-#{$name} {
    background-color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .color-#{$name} {
    color: $color;
  }
  .hoverChanger-#{$name}:hover {
    background-color:grey;
    color: $color;
  }
}
@each $name, $position in $positionLists {
  .pos-#{$name} {
    position: $position;
  }
}
@each $name, $borderWidth in $borderWidthLists {
  .bd-w-#{$name} {
    border-width: $borderWidth;
  }
}
@each $name, $align in $alignLists {
  .ta-#{$name} {
    text-align: $align;
  }
  .float-#{$name} {
    float: $align;
  }
}
.primary-font {
  font-size: $primary-font;
}
.card {
  .c-image {
      height: 100%;
      width: 100%;
  }
  .c-body {
    padding: 1rem;
    width:100%;
    .c-title {
      font-size: $cardTitle;
    }
    .c-subTitle {
      font-size: $cardSubTitle;
    }
    .c-text {
      font-size: $cardText;
    }
  }
  .c-footer {
    padding: 1rem;
    min-height: 0px;
    width:100%
  }
}
.postOption-1 {
  @include maxheight-width(600px, 920px);
  .header {
    image {
      @include fullBd-r(50px);
      @include height-width(40px, 40px);
    }
    .div {
      .profile {
        font-size: 15px;
      }
      .time {
        font-size: 15px;
      }
      .word {
        font-size: 15px;
      }
      .paid {
        font-size: 15px;
      }
    }
  }
  .media {
    height: 300px;
    width: 100%
  }
  .data {
    margin-left:45px;
    height: 100px;
  }
}
    
